/RestaurantManagement/.vs
/RestaurantManagement/RestaurantManagement/obj
/RestaurantManagement/RestaurantManagement/bin
/RestaurantManagement/RestaurantManagement.Domain/obj
/RestaurantManagement/RestaurantManagement.Domain/bin
