/RestaurantManagement/.vs
/RestaurantManagement/RestaurantManagement/obj
/RestaurantManagement/RestaurantManagement/bin
/RestaurantManagement/RestaurantManagement.Domain/obj
/RestaurantManagement/RestaurantManagement.Domain/bin
/RestaurantManagement/RestaurantManagement.Application/bin
/RestaurantManagement/RestaurantManagement.Application/obj
/RestaurantManagement/RestaurantManagement.Web/bin
/RestaurantManagement/RestaurantManagement.Web/obj
/RestaurantManagement/RestaurantManagement.Infrastructure/bin
/RestaurantManagement/RestaurantManagement.Infrastructure/obj
/RestaurantManagement/RestaurantManagement.Tests/obj
/RestaurantManagement/RestaurantManagement.Tests/bin
/RestaurantManagement/Common.Domain/obj
/RestaurantManagement/Common.Domain/bin
/RestaurantManagement/Common.Application/obj
/RestaurantManagement/Common.Application/bin
